spring:
  application:
    name: auth-service

  config:
    import: optional:configserver:http://localhost:8888

  profiles:
    active: development
    
  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  shutdown: graceful