spring:
  application:
    name: api-gateway

  profiles:
    active: development

  config:
    import: "optional:configserver:http://localhost:8888"

  cloud:
    config:
      allow-override: true
      override-system-properties: true