spring:
  application:
    name: user-service

  profiles:
    active: development

  config:
    import: optional:configserver:http://localhost:8888

  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  shutdown: graceful